
.spider-box{
    width: 40px;
    height: 100px;
    top: 49%;
    position: fixed;
    z-index: 600;
}

.container {
    animation: spider-anima 12s ease-out;
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    transition: filter 0.3s ease;
  }
  
  .container-2{
    animation: spider-anima-2 12s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    transition: filter 0.3s ease;
  }

  .hidden {
    display: hidden;
  }

  @keyframes spider-anima {
    0%  { top: -16px; }
    50% { top: 50%; }
  }

  @keyframes spider-anima-2 {
    0%  { top: 50%; }
    50% { top: -16px; }
  }

  .container .eye {
    background-color: #fff;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }
  .container .eye-right {
    right: 6px;
  }
  .container .eye-left {
    left: 6px;
  }


  .spider-web {
    animation: spider-web-anima 6s ease-out;
    animation-fill-mode: forwards;
    background-color: black;
    border-radius: 4px;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 2px;
    z-index: 600;
  }

  .spider-web-2 {
    animation: spider-web-anima-2 6s ease-out;
    animation-fill-mode: forwards;
    background-color: black;
    border-radius: 4px;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 2px;
    z-index: 600;
  }

  @keyframes spider-web-anima-2 {
    0%    { height: 5vh; top: 0; }
    100%  { height: 0; top: -10px;}
  }

  @keyframes spider-web-anima {
    0%    { height: 0; top: -10px; }
    100%  { height: 5vh; top: 0;}
  }
  .spider-body {
    background-color: black;
    border-radius: 50%;
    height: 15px;
    left: 50%;  
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    transition: filter 0.3s ease
  }

  .spider-body:before {
    content:"";
    background-color: black;
    border-radius: 50%;
    height: 10px;
    left: 2.5px;
    position: absolute;
    top: -5px;  
    width: 10px;
    z-index: -99;
    transition: filter 0.3s ease
  } 

  .right {
    transform: rotateY(180deg);
  }

  .arm {
    background-color: black;
    border-radius: 4px;
    height: 3px;
    position: absolute;
    transform-origin: center left;
    width: 8px;
    transition: filter 0.3s ease
  }
  .A {
    animation: A-anima 3s infinite ease-in-out;
    transform: rotate(75deg);
    
  }  
  .A:nth-child(2) { animation-delay: -0.2s; }
  .A:nth-child(3) { animation-delay: -0.5s; }
  .A:nth-child(4) { animation-delay: -0.4s; }
  .B {
    animation: B-anima 3s infinite ease-in-out;
    left: calc(100% - 2px);
    transform: rotate(10deg);
    
  }
  @keyframes B-anima {
    0% {transform: rotate(10deg)}
    50% {transform: rotate(120deg)}
    80% {transform: rotate(20deg)}
  }

  @keyframes A-anima {
    0% {transform: rotate(75deg)}
    50% {transform: rotate(-70deg)}
  }
  .C {
    animation: C-anima 3s infinite ease-in-out;
    left: calc(100% - 2px);
    transform: rotate(10deg);
    
  } 
  @keyframes C-anima {
    0% {transform: rotate(10deg)}
    50% {transform: rotate(90deg)}
    80% {transform: rotate(10deg)}
  } 
  